# React
frontend/node_modules/
frontend/dist/

# Environment variables
frontend/.env

# Spring Boot / Maven
PlacementManagementSystem1/target/

# Java compiled files
*.class

# Eclipse / STS
PlacementManagementSystem1/.settings/
PlacementManagementSystem1/.classpath
PlacementManagementSystem1/.project

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db